.form-answers {
  width: 500px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__question-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__question {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__lbl {
        // update if needed
      }
    }
  }
}